<launch>
  <node name="arduino" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/arduino" />
    <param name="baud" value="57600" />
  </node>

  <node name="scan_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.3 0 0 0 base_link scan 100" />

  <node name="hokuyo_node" pkg ="urg_node" type="urg_node">
    <param name="serial_port" value="/dev/hokuyo-urg" />
    <param name="frame_id" value="scan" />
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
        name="laser_filter">
    <rosparam command="load" file="$(find extended_teleop)/launch/config/resolutionbot_filter.yaml" />
  </node>

  <node pkg="usb_cam" name="camera" type="usb_cam_node" respawn="true">
    <param name="framerate" value="10"/>
    <param name="video_device" value="/dev/video1"/>
    <param name="pixel_format" value="yuyv"/>
  </node>
  <node pkg="audio_capture" name="audio_capture" type="audio_capture"/>
</launch>
