<launch>
  <node name="arduino" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <node pkg="usb_cam" name="camera" type="usb_cam_node">
    <param name="framerate" value="10"/>
    <param name="video_device" value="/dev/video1"/>
    <param name="pixel_format" value="yuyv"/>
  </node>
  <node pkg="audio_capture" name="audio_capture" type="audio_capture"/>
</launch>
